
<ion-view>
  <ion-pane>
        <!--
        <ion-header-bar class="bar-stable">
            <h1 class="title">IC Messenger</h1>
        </ion-header-bar>
        -->
        <ion-content>
            <div class="row" style="margin-top:2em">
                <div class="col col-center">
                    <div class="row">
                        <h1 class="col" style="text-align:center">
                            IC Messenger
                        </h1>
                    </div>
                    <div class="row">
                        <h4 class="col" style="text-align:center">
                            We only allow Facebook login around here. Deal with it.
                        </h4>
                    </div>
                    <div class="row">
                        <p class="col" style="text-align:center">
                            Hahahahaha
                        </p>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-pane>

    <!-- Facebook Login -->
    <div class="bar bar-footer" ng-controller="loginOptions">
        <button class="col button button-positive button-outline" ng-click="facebookLogin()">
            <i class="ion-social-facebook"></i>
            &nbsp;Login with Facebook
        </button>
    </div>
</ion-view>
